@import "tailwindcss";

@theme {
  --color-nh-blue: #005bac;
  --color-nh-yellow: #ffc224;
  --color-nh-green: #3dae2b;
}

body {
  background-color: #f3f4f6;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
}

.app-container {
  position: relative;
  z-index: 0;
  overflow: hidden;
}